* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-stack;
  line-height: $line-height-base;
  color: $color-text;
  background: $color-body-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  line-height: 1.3;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

p {
  margin-bottom: 1em;
}

.content ul, .content ol {
  margin-bottom: 1em;
  margin-top: -0.5em;
  padding-left: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}
